<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
<script src="https://kit.fontawesome.com/9e36bb240a.js"></script>
<meta charset="UTF-8">
<style>
      
      h5 {
        color:white;
        font-style: oblique;
      }
      p{
        color:white
      }
      a{
        color: azure
      }
      
      p.small{
        color: white;
      text-indent: 40px;
      }
      
      small{
      color: white;
      text-indent: 40px;
      }
</style>
<title>U-rent</title>
</head>
<body>

    <footer th:fragment="footer" class="page-footer font-small mdb-color lighten-3 pt-4" style="background-color:#1fb592!important">
      
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
          <div class="col-md-4 col-lg-3 text-center mx-auto my-md-4 my-0 mt-4 mb-1">
              <img src="https://img.pngio.com/renting-house-apartment-room-rent-transparent-png-png-download-for-rent-png-900_900.jpg" width="100" height="100">
              <h5>U-rent</h5>       
          </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">Servicios</h5>
          <p>Exhibición de propiedades</p>
          <p>Gestión de propiedades</p>
          <p>Servicio al cliente</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Dirección</h5>
  
          <ul class="list-unstyled">
            <li>
              <p><i class="fa fa-home mr-3"></i> Avda Constitución #1234</p>
            </li>
            
            <li>
            	<p><i class="fa fa-envelope mr-3"></i> arrau.propiedades@gmail.com </p>
            </li>
            
            <li>
            	<p><i class="fa-clock-o mr-3"></i> Horario de atención
            	<small>9:00 am - 18:00 pm</small></p>
                        
              </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
      
        <!-- Grid column -->
  
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3  " style="background: #146955 !important">
    <a href="">© 2019 Copyright U-rent</a>
    </div>
    <!-- Copyright -->
  
 

    </footer>
    
     
</body>
</html>